* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*navbar-imagen-titulo*/

.carrusel-contenedor {
    display: flex;
    align-items: center;
}

#imagen-carrusel {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.btn-carrusel {
    background-color: #616161;
    color: white;
    border: none;
    padding: 10px 17px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}




.titulo-imagen img {
    width: 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-imagen {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

.azul {
    color: #0054ef;
}

.links-inicios {
    display: flex;
    gap: 50px;
}

.links-inicios a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.inputin {
    padding-right: 30px;
    display: flex;
}

.inputin input {
    width: 300px;
    border-radius: 3px;
    border: none;
    border: solid 1px rgb(129, 129, 129);

}

.azul-buscar {
    background-color: #0054ef;
    border: none;
    height: 40px;
    width: 90px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 17px;
}

/*navbar-imagen-titulo*/

.container {
    background-color: #f6f7f9;
    padding: 40px;
}


/*imagenes-soporte*/
.soporte-soluciones-imagenes {
    display: flex;

    padding-left: 25px;
    gap: 80px;
    padding: 20px;
}

.imagenes-soporte img {
    width: 600px;
}

.soporte-texto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 25px;
}

.soporte-texto h1 {
    font-size: 60px;
}

.ver-servicios {
    width: 160px;
    height: 35px;
    color: white;
    background-color: #30302f;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}

/*imagenes-soporte*/




/*nuestros-servicios*/
.nuestros-servicios {
    display: flex;
    gap: 40px;
    padding-top: 15px;
}

.nuestros-servicios img {
    width: 250px;
    height: 150px;
}

/*soporte*/
.SOPORTE_TECNICO-TEXTO {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: solid 1px black;
    padding: 10px;
    border-radius: 5px;
}

.Ver-mas {
    border: none;
    background-color: #f6f7f9;
    border: solid 1px black;
    border-radius: 5px;
    height: 35px;
    font-weight: bold;
}

/*soporte*/

/*soporte1*/
.SOPORTE_TECNICO-TEXTO1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px black;
}

/*soporte1*/

/*soporte2*/
.SOPORTE_TECNICO-TEXTO2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px black;
}

/*soporte2*/
.achedos h2 {
    font-weight: bold;
    font-size: 30px;
}

/*soporte3*/
.SOPORTE_TECNICO-TEXTO3 img {
    width: 254px;
}

.SOPORTE_TECNICO-TEXTO3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px black;
}

/*soporte3*/
/*nuestros-servicios*/
.ULITMOS-PROYECTOS1{
    display: flex;
    position: relative;
    border: solid 1px black;
    padding: 10px;
    border-radius: 5px;
}
.ULITMOS-PROYECTOS2{
    display: flex;
    position: relative;
    border: solid 1px black;
    padding: 10px;
    border-radius: 5px;
}
.ULITMOS-PROYECTOS3{
    display: flex;
    position: relative;
    border: solid 1px black;
    padding: 10px;
    border-radius: 5px;
}


/*Ultimos proyectos*/

.ultimo-texto{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 20px;
}

.ver-todos{
    color: #0054ef;
    font-weight: bold;
    margin-right: 55px;
}
.ultimos-proyectos img {
    width: 320px;
}

.corazon img {
    width: 20px;
}
.corazon{
    border-radius: 5px;
    border: none;
    border: solid 1px gray;
    background-color: white;
}
.ultimos-proyectos{
    display: flex;
    gap: 80px;
    margin-top: 15px;
}
.ultimos-proyectos-imagen1{
    display: flex;
    flex-direction:column;
    gap: 5px;
}
.ultimos-proyectos-imagen2{
    display: flex;
    flex-direction:column;
    gap: 5px;
}

.ultimos-proyectos-imagen3{
    display: flex;
    flex-direction:column;
    gap: 5px;
}













/*sitio-texto1*/
.sitio-texto1{
    display: flex;
    position: absolute;
}
.sitio-texto1 p{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    padding: 10px;
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.sitio-texto1-mini1{
    display: flex;
    position: absolute;
    right:-235px;
}
/*sitio-texto1*/

/*sitio-texto2*/
.sitio-texto2{
    display: flex;
    position: absolute;
}
.sitio-texto2 p{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    padding: 10px;
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.sitio-texto1-mini2{
        display: flex;
    position: absolute;
    right:-254px;
}
/*sitio-texto2*/

/*sitio-texto3*/
.sitio-texto3{
    display: flex;
    position: absolute;
}
.sitio-texto3 p{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    padding: 10px;
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.sitio-texto1-mini3{
        display: flex;
    position: absolute;
    right:-244px;
}
/*sitio-texto3*/

/*Ultimos proyectos*/